In [71]:
meses = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez']
vendas_1sem = [25000, 29000, 22200, 17750, 15870, 19900]
vendas_2sem = [19850, 20120, 17540, 15555, 49051, 9650]

vendas_1sem.extend(vendas_2sem)

print(vendas_1sem)

[25000, 29000, 22200, 17750, 15870, 19900, 19850, 20120, 17540, 15555, 49051, 9650]

In [38]:
meses = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez']
vendas_1sem = [25000, 29000, 22200, 17750, 15870, 19900]
vendas_2sem = [19850, 20120, 17540, 15555, 49051, 9650]

vendas_1sem.extend(vendas_2sem)
maxi = max(vendas_1sem)
mini = min(vendas_1sem)

print(f"valores = {vendas_1sem}")
print(f"Melhor valor = {maxi}")
print(f"pior valor = {mini}")

valores = [25000, 29000, 22200, 17750, 15870, 19900, 19850, 20120, 17540, 15555, 49051, 9650]
Melhor valor = 49051
pior valor = 9650

In [64]:
meses = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez']
vendas_1sem = [25000, 29000, 22200, 17750, 15870, 19900]
vendas_2sem = [19850, 20120, 17540, 15555, 49051, 9650]

vendas_1sem.extend(vendas_2sem)

maxi = max(vendas_1sem)
mini = min(vendas_1sem)

i_maxi = vendas_1sem.index(maxi)
i_mini = vendas_1sem.index(mini)

mx = meses[i_maxi]
mn = meses[i_mini]

soma = sum(vendas_1sem)

print(f"Melhor Mês = R${mx}")
print(f"Melhor Valor = R${maxi}")
print("xxxxxxxxxxxxxxxxxxxxxxxxxxxxx")
print(f"Pior Mês = R${mn} ")
print(f"Pior valor = R${mini}")
print("xxxxxxxxxxxxxxxxxxxxxxxxxxxxx")
print("Faturamento total = R${:,}".format(soma))
print("Maior valor correponde {:.2%}".format(maxi/soma))

Melhor Mês = R$nov
Melhor Valor = R$49051
xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
Pior Mês = R$dez
Pior valor = R$9650
Faturamento total = R$261,486
Maior valor correponde 18.76%

In [82]:
meses = ['jan', 'fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez']
vendas_1sem = [25000, 29000, 22200, 17750, 15870, 19900]
vendas_2sem = [19850, 20120, 17540, 15555, 49051, 9650]

vendas_1sem.extend(vendas_2sem)

top3=[]

print(vendas_1sem)

maior_valor = max(vendas_1sem)
top3.append(maior_valor)

vendas_1sem.remove(maior_valor)

maior_valor = max(vendas_1sem)
top3.append(maior_valor)

vendas_1sem.remove(maior_valor)

maior_valor = max(vendas_1sem)
top3.append(maior_valor)

vendas_1sem.remove(maior_valor)

print(vendas_1sem)

print(top3)

[25000, 29000, 22200, 17750, 15870, 19900, 19850, 20120, 17540, 15555, 49051, 9650]
[22200, 17750, 15870, 19900, 19850, 20120, 17540, 15555, 9650]
[49051, 29000, 25000]